<div class="container-add">
  <div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" [(ngModel)]="nombre">
  </div>
  <div class="form-group">
    <label>Apellidos:</label>
    <input type="text" class="form-control" [(ngModel)]="apellidos">
  </div>

  <div class="form-group">
    <label>NIF:</label>
    <input type="text" class="form-control" [(ngModel)]="nif">
  </div>

  <div class="form-group">
    <img [src]="this.imagen ? this.imagen: '' " height="420" width="327" alt="Imagen producto">
    <hr>
    <input type="file" name="image" accept="image/*" (change)='selectImage($event)' />
    <button class="btn btn-primary" (click)='onImageSubmit($event)'>Upload</button>
  </div>


  <div class="form-group">
    <label>Cuenta IBAN:</label>
    <input type="text" class="form-control" [(ngModel)]="iban">
  </div>


  <div class="form-group">
    <label>Email:</label>
    <input type="text" class="form-control" [(ngModel)]="email">
  </div>

  <div class="form-group">
    <label>Descripción:</label>
    <input type="text" class="form-control" [(ngModel)]="description">
  </div>

  <div class="form-group">
    <label>Activo:&nbsp;</label>
    <input type="checkbox" [(ngModel)]="active">
  </div>
  <div class="boton">
    <button class="btn btn-primary" (click)="save()">Guardar</button>
  </div>
</div>
<hr>
