<div class="container-fluid entrada-animation">
<p-dataView class="grid-aqui" #dv [value]="services" [paginator]="true" [rows]="4" paginatorPosition="both"
    filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
      <div style="position:relative">
        <input
        class="btn btn-outline-dark"
        style="width: 100%;"
        type="text"
        [(ngModel)]="search"
        (keyup.enter)="buscar()"
        placeholder="Buscar... "
      />
              <div *ngIf=" user && user.rol==='admin'">

                  Ver inactivos <input class="form-check-label" type='checkbox' [(ngModel)]='inactiveViewFlag' (change)='inactiveViewToggle()'>
              </div>
          </div>
    </p-header>
    <ng-template let-service pTemplate="listItem">
        <div class="p-col-12 p-md-10">
            <div class="service-details">
                <div class="caja">
                    <div class="imajen-caja">
                        <img class="img-caja" [src]="service.imagen" height="420" width="327">
                    </div>
                    <div class="nombre-descripcion">
                        <div class="nombre-descripcion-contenido">
                            <h1>{{service.nombre}}</h1>
                            <p>{{service.descripcion}}</p>
                        </div>
                    </div>
                    <div class="precio">
                      <span>{{service.price}} €</span>
                  </div>
                  <div class="btm ">
                  <button  class="mi-boton" type="button" routerLink='/service/add' [state]='{id: service._id}' >Detalles</button>
                  </div>
                </div>

            </div>
        </div>
    </ng-template>

</p-dataView>
</div>
