<p-dataView class="data-view" #dv [value]="services" [paginator]="true" [rows]="5" paginatorPosition="both"
    filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                </div>
                <div class="p-col-6 p-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Búsqueda por nombre"
                            (input)="dv.filter($event.target.value)">
                            <button class="btn btn-primary" (click)='inactiveViewToggle()'>Ver inactivos</button>
                        </div>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-service pTemplate="listItem">
        <div class="p-col-12 p-md-10">
            <div class="service-details">
                <div class="wrapper">
                    <div class="product-img">
                        <img [src]="service.imagen" height="420" width="327">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h1>{{service.nombre}}</h1>
                            <p>{{service.descripcion}}</p>
                        </div>
                        <div class="product-price">
                            <p>{{service.price}} €</p>
                        </div>
                        <div class="button">
                        <button  type="button" routerLink='/service/add' [state]='{id: service._id}' >Detalles</button>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </ng-template>

</p-dataView>