<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Recuperar contraseña</h1>
    
    </div>
    <div class="alert alert-success" *ngIf="status === 'correcto'"  role="alert">
        Se ha actualizado tu contraseña correctamente!
        <a [routerLink]="['/login']"  >Identificate aqui</a>
      </div>
    <div class="alert alert-danger" *ngIf="status === 'error'"  role="alert">
       El email no corresponde a ningun usuario!
       <a [routerLink]="['/login']" >volver</a>
      </div>
    <div class="container" *ngIf="show">
        <div class="row">
            <div class="col-sm-4">
                <form #userForm='ngForm'>
                    <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                    ngControl="Email" #Email='ngModel'  [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    </div>
                    <small *ngIf="!Email.valid && Email.touched" style='margin-right: 5px;'>
                        El email no es valido      
                      </small>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit(email)"   [disabled]= "!Email.valid" >Enviar</button>
            </form>
          </div>
     </div>
  </div>

<div class="container m-5" *ngIf="status === 'success'"  >
	<div class="row">
		<div class="col-sm-4">
		    <form #passwordForm='ngForm' >
		       <label for='password'>New Password</label>
            <div class="form-group"> 
                <input type="password" class="form-control" name='password' ngControl="Password" #Password='ngModel' 
                ngControl="password" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" minlength="6" autocomplete="additional-name"  required> 
            </div> 
            
            <small *ngIf="!Password.valid && Password.touched">
                El password no es valido 
              </small>

            
              
              <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 6 characters or digit
              </small>
		       <label for='Password'>Confirm Password</label>
            <div class="form-group"> 
                <input type="password" class="form-control" name='Password' ngControl="Password" #Password='ngModel' 
                ngControl="Password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" minlength="6" autocomplete="additional-name"  required > 
            </div> 
            
            <small *ngIf="!Password.valid && Password.touched">
                El password no es valido 
              </small>

           
            
              <div class="alert alert-danger" *ngIf="confirmPassword !== newPassword"  role="alert">
                LOS PASSWORD DEBEN SER IGUALES!
                
               </div>
              <div class="col-12">
                <button type='submit' class='btn btn-primary btn-block' (click)="onPassword()"  [disabled]= '!Password.valid || (confirmPassword !== newPassword)' >Actualizar</button>   
             </div>
            </form>
		</div>  
	</div>
</div>
