


<div class='p-grid p-justify-center'>
    <div class="col-12 col-md-6 col-lg-4 ">
    <form class="text-center border border-light p-5">
    
        <p class="h4 mb-4">Sign up</p>
    
        <div class="form-row mb-4">
          <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormUser" class="form-control" placeholder="Usuario">
          </div>
          
        </div>
    
        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    
        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>
    
        
        <!-- Sign up button -->
        <div class="col-12">
        <p-button class='col-12' icon="pi pi-check" label="Sign up"> </p-button>
        </div>
        <p>You are a member?
            <a [routerLink]="['/login']" >Login</a>
          </p>
         Social register 
        <p>or sign up with:</p>
      
        <p-button  icon="pi pi-google"></p-button>
         
        <hr>
    
        <!-- Terms of service -->
        <p>By clicking
          <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a></p>
    
      </form>
    </div>
    </div>
      <!-- Default form register -->
