


<div class='p-grid p-justify-center'>
    <div class="col-12 col-md-6 col-lg-4 ">
    <form class="text-center border border-light p-5" >
     <!--  (ngSubmit)='registrar($event)'  -->
        <p class="h4 mb-4">Sign up</p>
    
        <div class="form-row mb-4">
          <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormUser"  [(ngModel)]='usuario' [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Usuario" required>
           
          
          </div>
          <!--
           
          <small *ngIf="!nombre.valid && nombre.touched">
            El nombre no es valido
          </small>
          -->
        </div>
    
        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail"   [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control mb-4" placeholder="E-mail" required>
        <!--
          name="email" #email='ngModel' [(ngModel)]="user.email"
        <small *ngIf="!email.valid && email.touched">
          El email no es valido
        </small>
        -->
        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword"   [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 6 characters or digit
        </small>
        <!--
          name="password" #password='ngModel'  [(ngModel)]="user.password"
        <small *ngIf="!password.valid && password.touched">
          El password no es valido
        </small>
        -->
        <!-- Sign up button -->
        <div class="col-12">
          <div class="col-12">
            <button type="submit" class='btn btn-primary btn-block'  (click)= 'registrar()' > Register </button>
        </div>
      
        </div>
        <p>You are a member?
            <a [routerLink]="['/login']" >Login</a>
          </p>
         Social register 
        <p>or sign up with:</p>
      
        <p-button  icon="pi pi-google"></p-button>
         
        <hr>
    
        <!-- Terms of service -->
        <p>By clicking
          <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a></p>
    
      </form>
    </div>
    </div>
      <!-- Default form register -->
