<!-- <div
  #div
  style="background-image: url(../assets/images/banner.png); width: 100%;"
>
  <img #img src="assets/images/LOGO.png" alt="Logo" height="100vh" />

  <p-contextMenu [target]="div" [model]="itemsSub"></p-contextMenu>
</div> -->

<div
  class="p-gri"
  style="
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(52, 59, 186, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    height: 45px;

  "
>
  <div class="p-col-1 p-md-col-1 p-lg-col-1">
    <button
      pButton
      type="button"
      (click)="visibleSidebar = true"
      icon="pi pi-align-justify"
    ></button>

  </div>


  <div class="p-col-8 p-md-8 p-lg-8 p-offset-0 p-md-offset-0 p-lg-offset-0">
    <div class="ui-inputgroup" >

      <button
        class="p-col-0 p-md-col-1 p-lg-col-1"
        pButton
        type="submit"
        label="Buscar"
        (click)='buscador()'
      ></button>
      <input
        class="p-col-10 p-md-10 p-lg-12"
        pInputText
        type="text"
        placeholder="Search..."
        pInputText
        [(ngModel)]="search"
        (keyup.enter)="buscador()"
      />

  </div>

  </div>

  <div class="p-col-2 p-md-col-2 p-lg-col-1 p-lg-offset-1" id="btnLogin">



    <div *ngIf="!identity">
      <button
        type="button"
        style="float: right;"
        (click)="showBasicDialog()"
        pButton
        icon="pi pi-external-link"
        label="Login"
      ></button>
      <p-dialog
        header="Login o registro ? "
        [(visible)]="displayBasic"
        [style]="{ width: '170px' }"
        [baseZIndex]="10000"
        styleClass="mydialog"
      >
        <p></p>
        <p-footer>
          <button
            type="button"
            pButton
            icon="pi pi-sign-in"
            (click)="logear()"
            label="Login"
            class="ui-button-primary"
          ></button>
          <button
            type="button"
            pButton
            icon="pi pi-user-edit"
            (click)="registrar()"
            label="Registro"
            class="ui-button-danger"
          ></button>
        </p-footer>
      </p-dialog>
    </div>
    <div *ngIf="identity">
      <div class="p-gri p-dir-col">
        <div class="p-col">
          <span *ngIf="identity" class="myPerfil" >
           <img [src]="url + '/user/get-image/' + identity.imagen" *ngIf="identity.imagen"  [alt]="identity.usuario" class='perfil' >
            Hola {{identity.usuario | uppercase}}
          </span>
          <button
            type="button"
            pButton
            class="ui-button-warning"
            label="Logout"
            icon="pi pi-power-off"
            style="float: right;"
            (click)="logout()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="p-gri "
  style="
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(52, 59, 186, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
  "
>

  <div
    style="margin: 5px; display: flex;"
  >

    <p-tabMenu [model]="itemsMenu" [activeItem]="activeItem" (click)="cambiazoOff()">
      <ng-template pTemplate="item" let-item let-i="index" >
        <div style="position: relative; text-align: center; "  (click)="cambiazoOff()" >
          <div
            class="ui-menuitem-icon"
            [ngClass]="item.icon "
            *ngIf="item.icon"
            style="font-size: 2em;"
          >
             {{ item.label === 'Carrito'? carro1:null}}
        </div>

          <div class="ui-menuitem-text" >

            {{ item.label }}
          </div>
        </div>
      </ng-template>
    </p-tabMenu>
<div [ngClass]="!activar?{'siosi': true}:{'noono': true}" (click)="cambiazoOn()" routerLink='/lista' routerLinkActive="active" >
  <div class="boton-admin" *ngIf=" token && identity.rol === 'admin'" >
    <div  >
      <div style="position: relative; text-align: center; margin-top: 6px;" (click)='buscador()'>
        <div
          class="iconoss"
          [ngClass]="itemsMenu1[0].icon"
          *ngIf="itemsMenu1[0].icon"
          style="font-size: 2em;"
        >
      </div>
        <div [ngClass]="!activar?{'textoo': true}:{'textooo': true}">
          {{ itemsMenu1[0].label }}
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
<hr />

<p-sidebar
  class="sidebar"
  [(visible)]="visibleSidebar"
  styleClass="ui-sidebar-md"

  [baseZIndex]="10000"
>
<h1 style="font-weight: normal;">JEDI Market</h1>
<div *ngIf="identity" >
  <img [src]="url + '/user/get-image/' + identity.imagen" [alt]="identity.usuario" *ngIf="identity.imagen" class='perfil' style= 'margin: 10px;' >
  {{identity.usuario | uppercase}}
</div>


<p-panelMenu
  [model]="itemsSide"
  [transitionOptions]="'500ms'"
  styleClass="ui-sidebar-md"
></p-panelMenu>

 <div class="enlaces">
   <a [routerLink]="['/contacto']"  >
    <i class="pi pi-envelope"></i>
     Contacta con Nosotros</a>
</div>

<div class="enlaces">
   <a [routerLink]="['/form-vendedor']"  >
    <i class="pi pi-briefcase"></i>
     Quieres ser proveedor?</a>
 </div>

<div class="salir">
   <p-button label="Salir" (click)="visibleSidebar = false" ></p-button>
</div>

</p-sidebar>
