

@media screen and (max-width: 800px) {
    .mydialog {
        display: none;
    }
    .myPerfil {
        display: none;
    }

}

.perfil{
    width: 30px;
    height: 30px;
    border-radius: 999px;
    border-color: 2px solid #36A0FF;

  }
.p-gri{
  display: flex;
}
  .salir{
      margin-top: 5px;
  }

  .enlaces{
      margin-top: 5px;
  }

  .sidebar{
      overflow-y: hidden;
  }



.siosi{
  background-color: rgb(244,244,244);
  color: rgb(139,141,139);
  border-radius: 5px;
  cursor: pointer;

}
.siosi:hover{
  background-color: rgb(219, 211, 211);
  color: rgb(0, 5, 0);
  border-radius: 5px;
  cursor: pointer;

}
.noono{
  background-color: rgb(0,122,217);
  color: white ;
  border: 3px solid lightskyblue;
    border-radius: 5px;
    cursor: pointer;

}

.textoo{
  color: rgb(51,60,69);
}
