
<div class="container-sm" style="display: flex; flex-wrap: wrap;">

<div class="tab-content" style="width: 80%;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>img</th>
        <th scope="col">Ctdad</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img class="image-carro" src="../../../assets/images/antivirus.png" alt=""></td>
        <td>1</td>
        <td>Istalacion antivirus</td>
        <td>99.99 € </td>
      </tr>

    </tbody>
  </table>
</div>
<hr>
<div class="tab-pane">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>99.99 € </td>
      </tr>

    </tbody>
  </table>
</div>

</div>
