
<p-dataView #dv [value]="images" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="name"
[sortField]="sortField" [sortOrder]="sortOrder">

  <p-header>
    <div class="ui-helper-clearfix">
        <div class="p-grid">
          <div class="p-col-12 p-md-4">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
          </div>
            <div class="p-col-6 p-md-4 filter-container">
                <div style="position:relative">
                    <input type="search" pInputText placeholder="Search by ..." (input)="dv.filter($event.target.value)">
                </div>
            </div>
            <div class="p-col-6 p-md-4" style="text-align:right">
            
          </div>
        </div>
    </div>
</p-header>




<ng-template let-image pTemplate="listItem">
    <div class="p-col-12 p-md-4">
        <div class="image-details p-col-12 p-md-4 ">
            <div>
               <!--

               --> <img src={{image.image}}>
                <div class="p-grid">
                    <div class="p-col-12">Nombre: <b>{{image.name}}</b></div>
                    <div class="p-col-12">Descripcion: <b>{{image.description}}</b></div>
                   
                </div>
            </div>
            <button pButton type="button" icon="pi pi-search" (click)="selectImage($event, image)" ></button>
        </div>
    </div>
</ng-template>
<ng-template let-image pTemplate="gridItem">
  <div style="padding:.5em" class="p-col-12 p-md-3">
      <p-panel [header]="image.name" [style]="{'text-align':'center'}">
          <img src={{image.image}} width="60">
          <div class="image-detail">{{image.description}}</div>
          <button pButton type="button" icon="pi pi-search" (click)="selectImage($event, image)" style="margin-top:0"></button>
      </p-panel>
  </div>


</ng-template>
</p-dataView>
<p-dialog header="Image Details" [(visible)]="displayDialog" [minY]="70" showEffect="fade" [modal]="true" 
[style]="{width: '225px'}" (onAfterHide)="onDialogHide()" [contentStyle]="{padding: '2em', textAlign: 'center'}">
<div *ngIf="selectedImage">
    <img src={{selectedImage.image}}>
    <strong>{{selectedImage.name}}- {{selectedImage.description}}</strong>
</div>
</p-dialog>
