<span class="container ">
<header
  class="bg-img landing text-white fondo-animation"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="titulo-header letras-animation">
    <h1>
      La mejor solución, los mejores precios
    </h1>
    <p>
      A community prescription pad of holistic social and health services for
      anyone, anywhere

      <!-- <img src="../../../assets/images/coollogo_com-221891013.png" alt="titulo" > -->
    </p>
  </div>

  <div
    _ngcontent-txk-c133=""
    fxlayout="row"
    fxlayout.lt-sm="column"
    fxlayoutalign="center"
    fxlayoutgap="8px"
    style="
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      bottom: 0;
      text-align: center;

    "
  >
    <button
      _ngcontent-txk-c133=""
      mat-raised-button=""
      color="primary"
      class="boto1 btn btn-primary letras-animation"
      style="margin: auto;  width: 50%;"
      [routerLink]="['/service']"    >
      <a href="#servicios-1" style="color: white;">Servicios</a>
    </button>


    <button
      _ngcontent-txk-c133=""
      mat-raised-button=""
      color="primary"
      class="boto1 btn btn-primary letras-animation"
      style="margin: auto;  width: 50%;"
      [routerLink]="['/contacto']"
    >
    <a [routerLink]="['/contacto']" style="color: white;">Contacta con nosotros</a>
    </button>

    <button
      _ngcontent-txk-c133=""
      mat-raised-button=""
      color="primary"
      class=" boto1 btn btn-primary letras-animation"
      style="margin: auto;  width: 50%;"
      [routerLink]="['/form-vendedor']"
    >
      <a [routerLink]="['/form-vendedor']"  style="color: white;">Quieres ser proveedor?</a>
      <div matripple="" class="mat-ripple mat-button-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </div>
</header>
<a name="servicios-1"></a>
<blockquote class="text-center mt-4">
  <h2 class="mat-display-1">NUESTROS SERVICIOS</h2>
</blockquote>



<section class="servicios">
  <div class="tarjetas-servicios">
    <div *ngFor="let item of services" class="card element-animation" style="width: 18rem;">
      <img
       class="card-img-top"
        alt="antivirus"
     [src]="item.imagen" height="220" width="327">


      <div  class="card-body">

        <h1 class="card-title">{{item.nombre}}</h1>
        <p class="card-text">
        {{item.descripcion}}
        </p>
        <div class="precio" tyle="text-align: center;">
          <span style="text-align: center;">{{item.price}} €</span>
      </div>
      </div>
      <a [routerLink]='["/service/add/", item._id]' class="btn btn-primary">contratar</a>
    </div>

  </div>
</section>
<section class="groupss">
  <div>
    <img
      class="bannere-equipo"
      src="../../../assets/images/banner_servicios.png"
      alt=""
    />
    <div>
      <h2 style="margin-top: 80px;">Market-Store-Jedi</h2>
      <p class="mat-h2 font-light">
        Contacte con el equipo JEDI si desea información sobre nuestros
        servicios comerciales o desea enviarnos sus comentarios.
      </p>

    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center">features</h2>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="3rem">
      <div fxFlex="33" class="rounded p-4 text-center">
        <img
          src="../../../assets/images/antivirus.png"
          alt="antivirus"
          style="width: 64px;"
        />

        <h2 class="mt-3">Reenvsion</h2>
        <h4>
          Make a difference by joining our program and accessing a directory of
          services tailored to anyone's needs.
        </h4>
      </div>
      <div fxFlex="33" class="rounded p-4 text-center">
        <img
          src="../../../assets/images/antivirus.png"
          alt="antivirus"
          style="width: 64px;"
        />

        <h2 class="mt-3">Regroup</h2>
        <h4>Promote innovation through social impact</h4>
        <h4>Connect with like-minded organisations</h4>
      </div>
      <div fxFlex="33" class="rounded p-4 text-center">
        <img
          src="../../../assets/images/antivirus.png"
          alt="antivirus"
          style="width: 64px;"
        />

        <h2 class="mt-3">Reconnect</h2>
        <h4>
          The platform facilitates communication between people, social workers
          and a comprehensive list of voluntary & community services
        </h4>
      </div>
    </div>
  </div>
</section>
<a name='sobre-nosotros'></a>
<section class="py-5 bg-success text-white">
  <div class="container">
    <h2 class="text-center">Sobre nosotros</h2>
    <p class="mat-h2">
      Market-Store-Jedi es su socio de confianza para diseñar, construir,
      implementar y dar soporte a todos sus problemas relaccionados con el servicio web.
    </p>
    <h2>que hacemos...</h2>
    <p class="mat-h3">
      Los problemas técnicos ocurren. Los fallos en el ordenador,
       las caídas del sistema y las averías de los dispositivos pueden paralizar una empresa. En lugar de acudir en persona,
        con la inversión de tiempo y los gastos que eso supone,
         los expertos de Market-Store-Jedipara proporcionar un soporte remoto inmediato a sus clientes,
          estén donde estén y en todo momento.

    </p>
  </div>
</section>

 <!--Scroll to top-->

 <button [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top btn btn-dark" >
  <i class="pi pi-angle-double-up"></i>
</button>

<section class="container my-5">
  <h2 class="text-center mb-3">Join the waitlist</h2>
  <h4 class="text-center">We'll get in touch</h4>

</section>
</span>

