.landing{
  height: 85vh;
  background-image: url('../../../assets/images/shutterstock_744456904_xD.jpg');
}

.bg-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tarjetas-servicios{
  display: flex ;
  flex-wrap: wrap ;
  justify-content: space-evenly;

}

.groupss{
  text-align: center;
  color:white;
  background-color: black;
  margin-top: 15em;
}

.mat-display-1, .mat-typography .mat-display-1 {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 174px 0 20px;

}

.bannere-equipo{
  height: 23vh;
  width: 100%;
}

.titulo-header{
  text-align: center;
  padding-top: 25%;
}

/*
.container {

  height: calc(100vh + 1000px);
  max-width: 960px;
}
*/
button .scroll-to-top  {
  background: black;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scroll {
    opacity: 1;
}

.element-animation:hover{
  animation: animationFrames linear 2s;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
  -webkit-animation: animationFrames linear 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 0%;
  -moz-animation: animationFrames linear 2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 0%;
  -o-animation: animationFrames linear 2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 0%;
  -ms-animation: animationFrames linear 2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 0%;
}

@keyframes animationFrames{
  0% {
    transform:  rotate(0deg) ;
  }
  20% {
    transform:  rotate(15deg) ;
  }
  40% {
    transform:  rotate(-10deg) ;
  }
  60% {
    transform:  rotate(5deg) ;
  }
  80% {
    transform:  rotate(-5deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  20% {
    -moz-transform:  rotate(15deg) ;
  }
  40% {
    -moz-transform:  rotate(-10deg) ;
  }
  60% {
    -moz-transform:  rotate(5deg) ;
  }
  80% {
    -moz-transform:  rotate(-5deg) ;
  }
  100% {
    -moz-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  20% {
    -webkit-transform:  rotate(15deg) ;
  }
  40% {
    -webkit-transform:  rotate(-10deg) ;
  }
  60% {
    -webkit-transform:  rotate(5deg) ;
  }
  80% {
    -webkit-transform:  rotate(-5deg) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  20% {
    -o-transform:  rotate(15deg) ;
  }
  40% {
    -o-transform:  rotate(-10deg) ;
  }
  60% {
    -o-transform:  rotate(5deg) ;
  }
  80% {
    -o-transform:  rotate(-5deg) ;
  }
  100% {
    -o-transform:  rotate(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  20% {
    -ms-transform:  rotate(15deg) ;
  }
  40% {
    -ms-transform:  rotate(-10deg) ;
  }
  60% {
    -ms-transform:  rotate(5deg) ;
  }
  80% {
    -ms-transform:  rotate(-5deg) ;
  }
  100% {
    -ms-transform:  rotate(0deg) ;
  }
}
/* fondo home*/
.fondo-animation{
  animation: fondo-animacion linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: fondo-animacion linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: fondo-animacion linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: fondo-animacion linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: fondo-animacion linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes fondo-animacion{
   0% {
    opacity:0;
    transform:  scaleX(0.30) scaleY(0.30) ;
  }
  25% {
    opacity:0;
    transform:  scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:0;
    transform:  scaleX(1.10) scaleY(1.10) ;
  }

  100% {
    opacity:1;
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

/*letras-fondo*/
.letras-animation{
  animation: letras ease 4s;
  animation-iteration-count: initial;
  transform-origin: 100% 100%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: letras ease 4s;
  -webkit-animation-iteration-count: initial;
  -webkit-transform-origin: 100% 100%;
  -webkit-animation-fill-mode:forwards; /*Chrome 14+, Safari 4+*/
  -moz-animation: letras ease 4s;
  -moz-animation-iteration-count: initial;
  -moz-transform-origin: 100% 100%;
  -moz-animation-fill-mode:forwards; /*FF 4+*/
  -o-animation: letras ease 4s;
  -o-animation-iteration-count: initial;
  -o-transform-origin: 100% 100%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: letras ease 4s;
  -ms-animation-iteration-count: initial;
  -ms-transform-origin: 100% 100%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes letras{
  0% {
    opacity:0;
    transform:  translate(-1480px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(200px,0px)  ;
  }
  80% {
    transform:  translate(-200px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes letras{
  0% {
    opacity:0;
    -moz-transform:  translate(-1480px,0px)  ;
  }
  60% {
    opacity:1;
    -moz-transform:  translate(30px,0px)  ;
  }
  80% {
    -moz-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes letras {
  0% {
    opacity:0;
    -webkit-transform:  translate(-1480px,0px)  ;
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(30px,0px)  ;
  }
  80% {
    -webkit-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes letras {
  0% {
    opacity:0;
    -o-transform:  translate(-1480px,0px)  ;
  }
  60% {
    opacity:1;
    -o-transform:  translate(30px,0px)  ;
  }
  80% {
    -o-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes letras {
  0% {
    opacity:0;
    -ms-transform:  translate(-1480px,0px)  ;
  }
  60% {
    opacity:1;
    -ms-transform:  translate(30px,0px)  ;
  }
  80% {
    -ms-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

.boto1{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: auto;

}
.boto1:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.boto1:nth-child(1){
  filter: hue-rotate(270deg);
}
.boto1:nth-child(2){
  filter: hue-rotate(110deg);
}
.boto1{
  position: relative;
  display: block;
}
.boto1:nth-child(1){
  top: 85%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
}

.boto1:nth-child(2){
  top: 90%;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(180deg,transparent,#03e9f4);
}


.boto1:nth-child(3){
  top: 100%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);

}

.boto1:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
}

.precio{
  text-align: center;
    font-size: 25px;
    background-color: green;
    color: white;
    border-radius: 15px;
    width: 38%;
    margin: auto;
    padding-top: 4px;
    margin-top: 17px;
}
