<h3>Custom Contents</h3>


<p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7"
    [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000"> 
    <ng-template pTemplate="item" let-item>
        <img [src]="item.image" style="width: 100%; display: block;"/>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.image" style="display: block;"/>
        </div>
    </ng-template>
</p-galleria>
<div *ngIf="images" class="p-grid p-justify-around " style="max-width: 500px; ">
    <div *ngFor="let image of images; let index = index;" class="p-col-5" key="index" style="min-height: 200px; " >
        <h3>{{image.name}}</h3>
        <p>{{image.description}}</p>
        <img [src]="image.image" [alt]="image.name" style="cursor: pointer;  margin: 5px; width: 50% " (click)="imageClick(index)"/>
    </div>
</div>
