<div class="wrapper-admin" *ngIf="user.rol==='admin'">
    <div class="servicio">
        <div class="grid-container">
            <div class="product-img">
                <img [src]="service ? service.imagen: '' " height="420" width="327" alt="Imagen producto">
            </div>
            <div class="product-info" *ngIf="service">
                <div class="product-text">
                    <h1>{{service.nombre}}</h1>
                    <p>{{service.descripcion}}</p>
                </div>
                <div class="product-price">
                    <p><span>{{service.price}}</span>€</p>
                </div>
                <div>
                    <button class="btn btn-warning" (click)='nuevoServicio()'
                        *ngIf="!createMode&&!editMode">Nuevo</button>
                    <button class="btn btn-danger" (click)='editServicio(service._id)'
                        *ngIf="!createMode&&!editMode">Editar</button>
                    <button class="btn btn-success" (click)='guardarNuevo()' *ngIf="createMode">Guardar</button>
                    <button class="btn btn-success" (click)='guardarEditado()' *ngIf="editMode">Guardar</button>
                    <button class="btn btn-primary" (click)='cancelAction()'
                        *ngIf="editMode||createMode">Cancelar</button>
                </div>
            </div>
            <div class="editor" *ngIf="createMode||editMode">
                <h2>Área de edición</h2>
                <div class='editor-group'>
                    <label>Nombre</label>
                    <label>Activo</label>
                    <input [style.background-color]="nombreBgColor" type='text' [(ngModel)]='service.nombre'
                        (keyup)='onChangeNombre()'>
                    <input type="checkbox" [(ngModel)]='service.active'>
                </div>
                <label>Descripción</label><br>
                <textarea [style.background-color]="descripcionBgColor" cols="38" rows="7"
                    [(ngModel)]='service.descripcion' (keyup)='onChangeDescripcion()'></textarea>
                <br />
                <label>Precio</label><br>
                <input [style.background-color]="priceBgColor" type='text' [(ngModel)]='service.price'
                    (keyup)='onChangePrice()'>

            </div>

        </div>

    </div>
</div>
<div class="wrapper-user" *ngIf="user.rol!=='admin'">
    <div class="grid-userview">
        <div class="izquierda">
            <div class="product-img">
                <img [src]="service ? service.imagen: ''" height="420" width="327" alt="Imagen producto">
            </div>
            <div class="supplier">
                <button class="btn btn-primary btn-lg" (click)='supplierSelector()'>Proveedor</button>
                <p>{{selectedSupplier?selectedSupplier.nombre+ ' '+selectedSupplier.apellidos:'No tiene proveedor'}}</p>
            </div>
        </div>
        <div class="product-info" *ngIf="service">
            <div class="product-text">
                <h1>{{service.nombre}}</h1>
                <p>{{service.descripcion}}</p>
            </div>
            <div class="product-price">
                <p><span>{{service.price}}</span>€</p>
            </div>

            <div class="btn-group-lg">
                <button class="btn btn-primary" (click)='decProductCount()'><i class="pi pi-minus"></i></button>
                <button class="btn btn-success" [disabled]='!(selectedSupplier && productCount)' (click)='addToKart()' ><i class="pi pi-shopping-cart"></i> <span> {{productCount}}</span></button>
                <button class="btn btn-primary" (click)='incProductCount()'><i class="pi pi-plus"></i></button>
            </div>
        </div>
    </div>
</div>
