.wrapper-admin {
  height: 420px;
  width: 981px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 0.5px solid red;
}

.product-text h1,
.product-price-btn p,
.cabecera h1 {
  font-family: 'Bentham', serif;
}

.cabecera{
    height: 25px;

  }

  .grid-container{
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    border: solid green 1px;
  }

  .product-img {
    height: 400px;
    width: 327px;
  }
  
  .product-img img {
    border: 0.5px dashed red;
    border-radius: 7px 0 0 7px;
    max-height: 350px;
  }
  
  .product-info {
    border: 0.5px solid blue;
    height: 400px;
    width: 327px;
    background-color: #ffffff;
    text-align: center;
  }
  .product-text{
    border: dashed 0.5px blue;
    padding: 1em;
    margin: 0.5em 0;
  }
  
  .product-text h1 {
    font-size: 34px;
    color: #474747;
  }

  .product-text p {
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  
  .product-price  {
    margin: 0.5em 0;
    font-family: 'Trocchi', serif;
    font-size: 34px;
    font-weight: lighter;
    color: #474747;
  }
  
  
  .product-price-btn button {
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
  }
  
  .product-price-btn button:hover {
    background-color: #79b0a1;
  }
