<div class="wrapper-admin" *ngIf="user.rol==='admin'">
    <div class="servicio">
        <div class="cabecera">
            <h1>Servicio</h1>
        </div>
        <div class="grid-container">
            <div class="product-img">
                <img [src]="service.imagen" height="420" width="327" alt="Imagen producto">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <h1>{{service.nombre}}</h1>
                    <p>{{service.descripcion}}</p>
                </div>
                <div class="product-price">
                    <p><span>{{service.price}}</span>€</p>
                </div>
                <div>
                    <button (click)='editServicio(service._id)'>Editar</button>
                    <button (click)='nuevoServicio()'>Nuevo</button>
                    <button (click)='cancelAction()'>Cancelar</button>
                </div>
            </div>
            <div class="editor">
                <h2>Área de edición</h2>
                <div class='editor-group'>
                    <label>Nombre</label>
                    <label>Activo</label>
                    <input [ngStyle]="service.nombre!==oldService.nombre && { backgroungd: 'red'}" type='text' [(ngModel)]='service.nombre' (input)='onChangeNombre($event)'>
                    <input type="checkbox" [(ngModel)]='service.active'>
                </div>
                <label>Descripción</label><br>
                <textarea cols="38" rows="7" [(ngModel)]='service.descripcion' (blur)='onChangeDescripcion($event)'></textarea>
                <br />
                <label>Precio</label><br>
                <input type='text' [(ngModel)]='service.price' (blur)='onChangePrice($event)'>

            </div>

        </div>

    </div>
</div>
<div class="wrapper-user" *ngIf="user.rol!=='admin'">
    <div class="servicio">
        <div class="cabecera">
            <h3>Servicio</h3>
        </div>
        <div class="wrapper">
            <div class="product-img">
                <img [src]="service.imagen" height="420" width="327" alt="Imagen producto">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <h1>{{service.nombre}}</h1>
                    <p>{{service.descripcion}}</p>
                </div>
                <div class="product-price">
                    <p><span>{{service.price}}</span>€</p>
                </div>
                <button type="button">¡Comprar!</button>
            </div>
        </div>

    </div>
</div>