<div class="container">
  <div class="alert alert-success" *ngIf="status === 'success'"  role="alert">
    Te has actualizado correctament!
    <a [routerLink]="['/home']"  >ir al Home aqui</a>
  </div>

<div class="alert alert-danger" *ngIf="status === 'error'"  role="alert">
    Ha habido un problema no se han actualizado tus datos!
  </div>

  <div class="row">
    <div class="col-md-12" style="display: flex; flex-wrap: wrap;">
      <div class="card" style="width: 18rem;">
        <img
        [src]="url + '/user/get-image/' + identity.imagen"
          style="height: 273px; padding: 10px;"
          class="card-img-top"
          [alt]="identity.usuario"
        />
      
        <div>
          <div>
           

 <label for="exampleInputavatar">Avatar</label>
            <angular-file-uploader
            *ngIf="token"
          [config]="afuConfig"
          (ApiResponse)="DocUpload($event)">
           </angular-file-uploader>


          
           
          </div>
      
        </div>
      </div>

      <div class="well well-sm" style="flex: 0 0 60%;">
        <form class="form-horizontal" method="post" #userForm='ngForm' (ngSubmit)="guardar()">
         
          <fieldset>
            
            <legend class="text-center header">Editar perfil </legend>

            <div class="form-group">
              <div class="col-md-8" style="flex: 0 0 60%; margin: auto;">
                
                <input
                  id="name"
                  name="name"
                  type="text"
                  #name="ngModel" 
                  [(ngModel)]="identity.usuario"
                  [ngModelOptions]="{ standalone: true }"
              
                  class="form-control"
                  required
                />
              </div>
            </div>
            <span *ngIf="!name.valid && name.touched">
              <p>El nombre es obligatorio</p>
            </span>
            <div class="form-group">
              <div class="col-md-8" style="flex: 0 0 60%; margin: auto;">
                
                <input
                  id="email"
                  name="email"
                  type="text"
                  #Email="ngModel"
                  [(ngModel)]="identity.email"
                  [ngModelOptions]="{ standalone: true }"
                  
                  class="form-control"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                  required
                />
              </div>
            </div>
            <span *ngIf="!Email.valid && Email.touched">
              <p>El email es obligatorio</p>
            </span>
          
            
            <div class="form-group">
              <div class="col-md-12 text-center">
               
                <button
                  type="submit"
                  class="btn btn-primary btn-lg"
                  [disabled]="!name.valid || !Email.valid "
                >
                  Actualizar
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
