


<!-- Default form register -->
<div class='p-grid p-justify-center'>
    <div class="col-12 col-md-6 col-lg-4 ">
<!-- Default form login -->
<form class="text-center border border-light p-5" #userForm='ngForm' (ngSubmit)="onSubmit(userForm)"  >
  <!-- #userForm='ngForm'  -->
    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input class="form-control" type="email" id="defaultRegisterFormEmail"  ngControl="Email" #Email='ngModel'  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control mb-4"
    placeholder="E-mail" maxlength="30"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
    
    <small *ngIf="!Email.valid && Email.touched">
     El email no es valido      
   </small>
  

    <!-- Password -->
   
    <input class="form-control" type="password" id="defaultRegisterFormPassword"    ngControl="Password" #Password='ngModel'  [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  class="form-control" 
        placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" minlength="6"  required>
        <small *ngIf="!Password.valid && Password.touched">
          El password no es valido 
        </small>
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 6 characters or digit
        </small>

    <div class="d-flex justify-content-around">
      <div>
        
    </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
    
    <!-- Sign in button -->
    <div class="col-12">
        <button type='submit' class='btn btn-primary btn-block' [disabled]=' !Email.valid || password.length < 6' >Login</button>   
    </div>
  
    <!-- Register -->
    <p>Not a member?
      <a [routerLink]="['/registro']" >Register</a>
    </p>
  
    Social register 
        <p>or sign in with:</p>
      
        <p-button  icon="pi pi-google"></p-button>
 
  </form>
  <!-- Default form login -->
  </div>
 </div> 












