.table td .pi:before {
  --webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: rgb(0, 255, 0);
}

.negacion .table td .pi:before {
  --webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: rgb(255, 10, 1);
}

.negacion .pi-times{

  color: red;
}
.pi-times:before {
  color: red !important;
}
.table-responsive {
  overflow-y: visible !important;
}

.mensaje{
  position: fixed !important;
  margin: 0px auto !important;
}

button .scroll-to-top  {
  background: black;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scroll {
    opacity: 1;
}

