<div class="container">
<div class="btn btn-toolbar">
  <div style="margin: auto;">
    <input
      class="btn btn-outline-dark"
      style="width: 100%;"
      type="text"
      [(ngModel)]="search"
      (keyup.enter)="buscador()"
      placeholder="Buscar... "
    />
    <hr />
    <div *ngIf="error ? error : error" class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  </div>
  <br>
 
</div>
     

 
  <div *ngIf="loading" class="alert alert-warning text-center mensaje" role="alert" >
    <h2><strong> Espere un momento por favor! </strong></h2> 
    <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
   
  </div>


 

<table class="table m-2" style="width: 80%; margin: auto !important;">

  <div *ngIf="!show">
    <thead class="table-info">
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="btn btn-outline-secondary" style="color: black;" (click)="mostrarTodo()"><strong>Active</strong></th>
        <th scope="col">Usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
        <th scope="col">Acciones</th>

      </tr>
    </thead>
  <tbody  *ngFor="let item of (users | active:true);index as i ">
    <tr>
      <th scope="row">{{ item._id }}</th>
      <td><i class="pi pi-check"></i></td>
      <td>{{ item.usuario }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.rol }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-danger" (click)="active1(item)">OFF</button>
          <button type="button" class="btn btn-outline-secondary" (click)="cambioRol(item)"  [disabled]="loading">
            
            <i class='pi pi-save' style="font-size: 1em"></i>
            <span >- Guardar cambios</span>
           
          </button>
          <span class="btn btn-outline-primary">
          <select class="custom-select-lg"   (change)="capturar($event)">
            <option value="0">Selecciona una opción</option>
            <option value="1">admin</option>
            <option value="2">usuario</option>
            <option value="3">vendedor</option>
          </select>
        </span>
        
        </div>
      </td>

    </tr>
  </tbody>
</div>
<div class="negacion" *ngIf='show'>
  <thead class="table-info">
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="btn btn-outline-secondary" style="color: black;;" (click)="mostrarTodo()"> <strong>Todos</strong></th>
      <th scope="col">Usuario</th>
      <th scope="col">Email</th>
      <th scope="col">Rol</th>
      <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody  *ngFor="let item of users; index as i">
    
    <tr>
      <th scope="row">{{ item._id }}</th>
      <td *ngIf="item.active === true"><i class="pi pi-check"></i></td>
      <td *ngIf="item.active === false"><i class="pi pi-times"></i></td>
      <td>{{ item.usuario }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.rol }}</td>
      <td>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button *ngIf="item.active === false" type="button" class="btn btn-outline-success" (click)="active1(item)">ON</button>
          <button *ngIf="item.active === true" type="button" class="btn btn-outline-danger" (click)="active1(item)">OFF</button>

          <button *ngIf="item.active === true" type="button" class="btn btn-outline-secondary" (click)="cambioRol(item)" data-toggle="modal" data-target="#exampleModal" [disabled]="loading">
            <i  class='pi pi-save' style="font-size: 1em"></i>
            <span >- Guardar cambios</span>
           
          </button>
          <span  *ngIf="item.active === true" class="btn btn-outline-primary">
            <select class="custom-select-lg"   (change)="capturar($event)">
              <option value="0">Selecciona una opción</option>
              <option value="1">admin</option>
              <option value="2">usuario</option>
              <option value="3">vendedor</option>
            </select>
          </span>
         
        </div>
      </td>

    </tr>
  </tbody>
</div>
</table>
</div>

<!--Scroll to top-->
 
<button [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top btn btn-dark" >
  <i class="pi pi-angle-double-up"></i>
</button>