<p>search works!</p>

<div *ngIf="servFiltrados.length === 0">
  <h1>Tu busqueda: {{ code }}</h1>
  <p>
    <ngb-alert [dismissible]="false">
      <strong>Aviso!</strong> <h3> No hay resultados de tu busqueda. Intenta otra o selecciona un servicio de los de abajo </h3>
    </ngb-alert>
  </p>
</div>

<div style="display: flex;">
  
  <!--
<div style="justify-content: start;">
<p-listbox
      [options]="items"
      [(ngModel)]="selectedItem"
      class="listStyle"
      [listStyle]="{ 'min-height': '250px', 'max-width': '100px' }"
    >
      
      <ng-template let-item pTemplate="item">
        <div class="ui-helper-clearfix">
         

      
       <a [routerLink]="['/service']"><span  style="float: right;"> {{ item.value | uppercase }}</span> </a>
        
        </div>
      </ng-template>
      <p-footer styleClass="footer">
        Servicios disponibles
      </p-footer>
    </p-listbox>





</div>
  -->
    
    

  
  
  <div style="flex-wrap: wrap; justify-content: center;">
    
    <app-ngbd-carousel-pause
      [servicesFilter]=" servFiltrados.length !== 0  ? servFiltrados : services"
     
    
    ></app-ngbd-carousel-pause>
  </div>
</div>

<hr />

