

<div *ngIf="servFiltrados.length === 0">
  <h1>Tu busqueda: {{ code }}</h1>
  <p>
    <ngb-alert [dismissible]="false">
      <strong>Aviso!</strong> <h3> No hay resultados de tu busqueda. Intenta otra o selecciona un servicio de los de abajo </h3>
    </ngb-alert>
  </p>
</div>

<div style="display: flex;">





  <div style="flex-wrap: wrap; justify-content: center;">

    <app-ngbd-carousel-pause
      [servicesFilter]=" servFiltrados.length !== 0  ? servFiltrados : services"


    ></app-ngbd-carousel-pause>
  </div>
</div>

<hr />

